# See http://help.github.com/ignore-files/ for more about ignoring files.

# testing
coverage

# production
build
prg
bin


# misc
.DS_Store
.env
old
release.sh
*.prg
*.iq
*.debug.xml
*-settings.json
prg

# build artifacts
developer_key.der
developer_key.pem
manifest-build.xml
monkey-build.jungle